@import '../utils/vars.scss';

.testimonials {
  max-width: 1970px;
  width: 100%;
  margin-bottom: 230px;

  &__comments {
    display: flex;
    gap: 60px;
    text-align: center;
  }

  &__title {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
    font-family: 'Montserrat-ExtraBold', sans-serif;
    font-weight: bold;
    font-size: $titleSize;
  }
}
