@import '../src/components/utils/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  min-width: 390px;
  max-width: 1920px;
  margin: 0 auto;
}

.confetti {
  @include onDesktop {
    display: none;
  }
}
