@font-face {
  font-family: 'Montserrat-Regular', sans-serif;
  src: url('./fonts/Montserrat-Regular.ttf') format('ttf'); //400
}

@font-face {
  font-family: 'Montserrat-SemiBold', sans-serif;
  src: url('./fonts/Montserrat-SemiBold.ttf') format('ttf'); //600
}

@font-face {
  font-family: 'Montserrat-Bold', sans-serif;
  src: url('./fonts/Montserrat-Bold.ttf') format('ttf'); //700
}

@font-face {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  src: url('./fonts/Montserrat-ExtraBold.ttf') format('ttf'); //800
}

@font-face {
  font-family: 'Raleway-Regular', sans-serif;
  src: url('./fonts/Raleway-Regular.ttf') format('ttf'); //400
}

@font-face {
  font-family: 'Raleway-Bold', sans-serif;
  src: url('./fonts/Raleway-Bold.ttf') format('ttf'); //700
}
