$whiteColor: #fff;
$redColor: #FC5252;
$mainBlueColor: #381DDB;
$coralColor: #FFA3A3;
$mainBlackColor: #222;
$CommentBgColor: #f8f8f8;
$lightGrayColor: #E0E0E0;
$afterColor: #F0EEFC;
$grayColor: #909090;
$blueShadowColor: 0px 10px 30px rgba(56, 29, 219, 0.2);
$bgColorInsta: linear-gradient(180deg, rgba(252, 82, 82, 0.05) 0%, rgba(252, 82, 82, 0) 100%);
$bgColorShedule: linear-gradient(180deg, rgba(56, 29, 219, 0.05) 0%, rgba(56, 29, 219, 0) 100%);
$blockShadow: 0px 20px 100px rgba(34, 34, 34, 0.15);

$opacityCoef: 0.7;

$titleSize: 34px;
$mediumSize: 24px;
$smallSize: 16px;
